@keyframes to-left {
  from {
    transform: none;
  }

  to {
    transform: translateX(-100%);
  }
}

@keyframes to-right {
  from {
    transform: none;
  }

  to {
    transform: translateX(100%);
  }
}

@keyframes from-left {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: none;
  }
}

@keyframes from-right {
  from {
    transform: translateX(100%);
  }
  
  to {
    transform: none;
  }
}

.carousel {
  display: grid;
  grid-template: repeat(2, max-content) / repeat(3, max-content);
  align-items: center;
  justify-items: center;
  box-shadow: 0 0 5px gray;
  padding: 1rem 0.5rem 0.5rem;
  min-height: 55vh;
  min-width: 55vw;
  border-radius: 0.2rem;
}

.carousel .images {
  position: relative;
  height: 50vh;
  overflow: hidden;
  border-bottom-left-radius: 0.2rem;
  border-bottom-right-radius: 0.2rem;
}

.carousel .images > * {
  position: absolute;
  top: 0;
  left: 0;
}

.carousel .images > *:not(.to-left):not(.to-right):not(.current) {
  display: none;
}

.carousel .images > .to-left {
  animation: to-left 0.25s linear;
  transform: translateX(-100%);
}

.carousel .images > .to-right {
  animation: to-right 0.25s linear;
  transform: translateX(100%);
}

.carousel .images > .from-left {
  animation: from-left 0.25s linear;
}

.carousel .images > .from-right {
  animation: from-right 0.25s linear;
}

.carousel .images img {
  height: 50vh;
  width: 50vw;
  object-fit: cover;
}

.carousel .display {
  margin: 0 1rem 1rem;
  width: 50vw;
  box-shadow: 0 0 5px gray;
  border-radius: 0.2rem;
}

.carousel .name {
  margin: 0;
  padding: 0.5rem;
  min-height: 2.5rem;
  background-color: darkgreen;
  color: white;
  border-top-left-radius: 0.2rem;
  border-top-right-radius: 0.2rem;
}

.carousel .select {
  grid-column: 1 / span 3;
}
