.game main {
  padding: 1rem 1rem 0;
  margin: 1rem 3.5rem 1rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: lightgreen;
  width: max-content;
}

.game main h1 {
  margin: 0;
  font-size: 1.5rem;
}

.game .pop-up img {
  height: 50vh;
}
