.game-image {
  position: relative;
  z-index: 0;
  height: 525px;
  width: 750px;
  border-radius: 0.2rem;
}

.game-image.skeleton {
  box-shadow: 0 0 5px gray;
  background-color: white;
}

.game-image .image {
  position: absolute;
  z-index: -2;
  top: 0;
  height: 525px;
  width: 750px;
  background-size: cover;
  flex: none;
  border-radius: 0.2rem;
}

.game-image .grid {
  display: grid;
  height: 525px;
  width: 750px;
  background-size: cover;
  flex: none;
}

.game-image .grid>* {
  position: relative;
}
