.game {
  padding-bottom: 1rem;
}

.game > main:not(.error) {
  border-radius: 0.2rem;
  padding: 0.5rem 1rem;
  margin: 1rem auto 0;
  display: grid;
  grid-template: 4.5rem calc(525px + 0.5rem) 1.5rem / repeat(2, max-content);
  justify-content: center;
  column-gap: 1rem;
  box-shadow: 0 0 5px gray;
  width: max-content;
}

.game > main:not(.error) h1 {
  margin: 0;
  font-size: 1.5rem;
}
