.game {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.game-image {
  height: 525px;
  width: 750px;
  background-size: cover;
  display: grid;
}

.game-image > * {
  position: relative;
}

.game-targets {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
  gap: 1rem;
}

.game-targets > * {
  display: flex;
  flex-direction: column;
}

.game-targets img {
  height: 5rem;
  object-fit: cover;
  object-position: top;
}
