header {
  background-color: darkgreen;
  color: white;
  padding: 0.25rem 1rem;
  display: grid;
  grid-template-columns: repeat(4, max-content);
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

header h1 {
  margin: 0;
  font-size: 1.5rem;
}

header a, header button.icon {
  color: white;
  border: 2px solid transparent;
  border-radius: 0.2rem;
  box-shadow: none;
}

header a:hover, header button.icon:not(:disabled):hover {
  text-decoration: none;
  background-color: transparent;
  border: 2px solid white;
}

header a {
  padding: 0.5rem;
}

header a.logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

header button.icon {
  padding: 1.25rem;
  background-color: transparent;
}

header svg {
  font-size: 1.5rem;
}
