header {
  background-color: green;
  color: white;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

header a {
  color: white;
}

header a.logo {
  justify-self: start;
}

header a.home {
  justify-self: center;
}

header button:not(.square):not(.icon) {
  min-height: 0;
  color: white;
  padding: 0;
  background-color: transparent;
  border: none;
  justify-self: end;
}
