/*

.home main {
  padding: 1rem 3rem;
  *display: grid;
  display: flex;
  grid-template-columns: repeat(3, 28vw);
  justify-content: center;
  justify-items: stretch;
  gap: 2rem;
}

.home main > * {
  min-height: calc(30vh + 3rem);
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  box-shadow: 0 0 5px gray;
  padding: 1rem;
  border-radius: 0.2rem;
}

.home main img {
  height: 30vh;
  object-fit: cover;
}
*/

.home main {
  display: flex;
  align-items: center;
  justify-content: center;
}

