.home main {
  padding: 1rem 3rem;
  display: grid;
  grid-template-columns: repeat(3, 30vw);
  justify-items: stretch;
  gap: 2rem;
}

.home main > * {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.home main img {
  height: 30vh;
  object-fit: cover;
}
