.panel {
  background-color: white;
  padding: 1rem;
  border-radius: 0.2rem;
  grid-row: 1 / span 2;
}

.panel .instructions {
  margin-top: 0;
}

.panel .targets {
  display: grid;
  grid-template-columns: repeat(2, 6rem);
  grid-auto-rows: 8rem;
  justify-items: center;
  align-items: stretch;
  gap: 1rem;
}
