form.select {
  margin-top: 0.5rem;
  background-color: white;
  border-radius: 0.2rem;
  padding: 0.5rem;
  position: absolute;
  width: 15rem;
  left: calc(-1 * (15rem - 100%) / 2);
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

form.select select {
  text-align: center;
}
