.square {
  width: 100%;
  height: 100%;
  background-color: transparent;
  position: relative;
  border: 2px solid transparent;
  outline: 2px solid transparent;
}

.square.active {
  border: 2px solid white;
  outline: 2px solid green;
}

.square .feedback {
  position: absolute;
  z-index: -1;
}

.square .correct {
  width: 8rem;
  color: green;
  left: -3rem;
  bottom: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.2rem;
}

.square .feedback-message {
  background-color: white;
  padding: 0.2rem;
}

.square .correct .feedback-message {
  border: 2px solid green;
  font-weight: 600;
}

.square .feedback-icon {
  font-size: 2.5rem;
  width: 2rem;
  height: 2rem;
}

.square .correct .feedback-icon path {
  stroke: white;
  stroke-width: 30px;
}

.square .incorrect {
  top: -0.5rem;
  left: 0;
  background-color: white;
  border: 2px solid red;
  border-radius: 50%;
  color: red;
}
