.target {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.target img {
  height: 5rem;
  max-width: 6rem;
  object-fit: contain;
}

.target .check {
  font-size: 2.5rem;
  position: absolute;
  left: calc((100% - 2.5rem) / 2);
  top: 1.25rem;
  background-color: white;
  border-radius: 50%;
  color: green;
  z-index: 1;
}
